body {
  background-color: rgb(3, 3, 3);
  background-image: url("../img/alley.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-size: 15px;
  font-family: "Lucida Console", Monaco, monospace;

}
.container {
  margin:auto;
  width: 60vw;
}

#result-python, #result-ruby, #result-c, #result-js, #result-mix {
  display: none;
}

#final-answer {
  text-align: right;
}

.response {
  font-style: italic;
  text-align: right;
}

/* .c {
  background-color: blue;
}

.python {
  background-color: yellow;
}

.ruby {
  background-color: red;
}

.js {
  background-color: green;
} */

.btn {
  display: inline;
}

.panel-body {
  opacity: 99%;
}

#intro {
  font-size: 17px;
}

.bold {
  font-weight: bold;
}