body {
  background-color: rgb(3, 3, 3);
  background-image: url("../img/alley.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-size: 15px;
  font-family: "Lucida Console", Monaco, monospace;

}
.container {
  margin:auto;
  width: 60vw;
}

#result-python, #result-ruby, #result-c, #result-js, #result-mix {
  display: none;
}

.talk {
  text-align: left;
}

.response {
  font-style: italic;
  text-align: right;
}

.answer-c {
  color: rgb(16, 15, 110);
}

.answer-python {
  color: rgb(222, 224, 54);
}

.answer-ruby {
  color: rgb(173, 22, 22);
}

.answer-js {
  color: rgb(23, 141, 49);
}

.btn {
  display: inline;
  margin: auto;
}

.panel-body {
  opacity: 99%;
}

#intro, #result {
  font-size: 17px;
}

#result {
  margin-top: 40vh;
}

.bold {
  font-weight: bold;
}