.container {
  margin:auto;
  width: 60vw;
}

#result-python, #result-ruby, #result-c, #result-js {
  display: none;
}

#final-answer {
  text-align: right;
}

.response {
  font-style: italic;
  text-align: right;
}

